body, html {
    height: 100%;
    margin: 0; 
    background-image: linear-gradient(45deg, pink, rgb(235, 99, 99), rgb(124, 27, 50))
}
div {
    text-align: center;
    font-size: 100px;
    color: aliceblue;
    position: relative;
    top: 30%;
}